body {
    background-color: beige;
    margin: 0;
    font-family: "Roboto Mono", serif;
}

/* Header */

a:hover{
    text-decoration: underline;
}

header{
    background-color: black;
    margin-bottom: 0;
    box-sizing: border-box;
    }

header #btn_menu, header label, .logo{
    display: none;
}

    header nav img{
    width: 150px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header nav ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 20px 30px;
    align-items: center;
    font-family: "Sedan SC", serif;
    margin: 0;
    
}

header nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

header {
    color: beige;
}

/* Main */


/* Index */

.banner-restaurant{
    height: 600px;
    background-image: url(./../img/banner-restaurant.jpg);
    background-size: cover;
    background-position: center;
}

.texto {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

.texto div {
    background-color: beige;
    border: 5px solid red;
    border-radius: 10px;
    width: 25%;
    text-align: center;
    align-content: center;
}

.texto div h2 {
    font-family: "Sedan SC", serif;
}


.localizacion {
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;

}

.localizacion div {
    margin: 5%;
    justify-content: space-evenly;
}

.localizacion div div{
    text-align: center;
    align-content: center;
    background-color: brown;
    border: 5px solid red;
    color: white;
    border-radius: 10px;
    font-size: large;
    height: 200px;
    
}

/* Fin index */

/* Nosotros */

.sobre-nosotros {
    height: 800px;
}

.tres-en-fila {
    display: flex;
    padding-top: 10%;
}

.tres-en-fila div {
    text-align: center;
    align-items: center;
    padding: 1rem;
}



/* Fin nosotros */

/* Carta */


.espacio-carta {
    height: 100px;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.wrap-title-section {
    display: flex;
    justify-content: center;
    background-color: brown;
    color: white;
    font-family: "Sedan SC", serif;
    border-radius: 10px;
    margin: 2rem;
}


.column-2.carta {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}

.plato-carta {
    display: flex;
    align-items: center;
    border: 1px solid brown;
    border-radius: 10px;
    padding: 10px;
}

.titulo-plato-carta {
    border: 1px solid brown;
    border-bottom: none;
    border-top: none;
    border-left: none;
    padding: 0 1rem;
    flex-basis: 80%;
}

.precio-plato-carta {
    display: flex;
    flex-basis: 20%;
    justify-content: center;
    font-weight: bold;
}


/* Fin carta */

/* Contacto */

.contacto {
    height: 600px;
}

.contacto div {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
}

.titulo-carrusel {
    display: flex;
    font-family: "Sedan SC", serif;
    font-size: 50px;
    justify-content: center;
}

#carrusel{
    display: block;
    padding: 5%;
}

.row-g3{
    padding: 100px;
}

/* Fin contacto */


/* Footer */

footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

footer div a img{
    
    height: 30px;
    width: 30px;

}


/* Media querys */

/* Tablet */
@media (max-width: 1024px){

}

/* Mobile */
@media (max-width: 768px){
    .banner-restaurant{
        height: auto;
    }
    
    .texto{
        flex-direction: column;
        align-items: center;
    }

    .texto div{
        width: 80%;
        margin: 1rem;
    }

    .localizacion{
        flex-direction: column;
        align-items: center;
    }

    .localizacion div iframe{
        max-width: 90%;
        max-height: auto;
    }

    /* Header */
    
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .logo{
        display: block;
        width: 100px;
        margin-left: 25px;
    }

    header label{
        display: block;
        position: relative;
        right: 25px;
    }

    header label img{
        width: 50px;
    }

    .menu{
        position: absolute;
        top: 86px;
        background-color: black;
        width: 100%;
        visibility: hidden;
        transition: visibility 1s, opacity 1s ease;
        opacity: 0;
    }

    #btn_menu:checked ~ .menu{
        visibility: visible;
        opacity: 1;
    }

    .menu ul{
        flex-direction: column;
    }

    .logo-oculto{
        display: none;
    }
}