body {
    background-color: beige;
    margin: 0;
    font-family: "Roboto Mono", serif;
}

/* Header */

a:hover{
    text-decoration: underline;
}

header{
    background-color: black;
    margin-bottom: 0;
    box-sizing: border-box;
    }

header nav img{
    width: 150px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header nav ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 20px 30px;
    align-items: center;
    font-family: "Sedan SC", serif;
    margin: 0;
    
}

header nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}


/* Main */


/* Index */

.banner-restaurant{
    height: 600px;
    background-image: url(./../img/banner-restaurant.jpg);
    background-size: cover;
    background-position: center;
}

.texto {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

.texto div {
    background-color: beige;
    border: 5px solid red;
    border-radius: 10px;
    width: 25%;
    text-align: center;
    align-content: center;
}

.texto div h2 {
    font-family: "Sedan SC", serif;
}


.localizacion {
    display: flex;
    height: 600px;
    justify-content: space-between;
    align-items: center;

}

.localizacion div {
    margin: 5%;
    justify-content: space-evenly;
}

.localizacion div div{
    text-align: center;
    align-content: center;
    background-color: brown;
    border: 5px solid red;
    color: white;
    border-radius: 10px;
    font-size: large;
    height: 200px;
    
}

/* Fin index */

/* Contacto */

.contacto {
    height: 600px;
}

.contacto div {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
}

.titulo-carrusel {
    display: flex;
    font-family: "Sedan SC", serif;
    font-size: 50px;
    justify-content: center;
}

#carrusel{
    display: block;
    padding: 5%;
}

.row-g3{
    padding: 100px;
}




/* Footer */

footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

footer div a img{
    
    height: 30px;
    width: 30px;

}


/* Media querys */

/* Mobile */
@media (min-width: 1024px){

}

/* Tablet */
@media (max-width: 480px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}