.main-nosotros{
    .titulo-nosotros{
        padding: 5%;
        text-align: center;
        font-family: $fuente-titulo;
        text-decoration: underline;
        position: relative;
        z-index: -1;
        h1{
            font-size: 50px;
        }
    }
    .sobre-nosotros{
        height: auto;
        padding: 5%;
        .contenido-nosotros{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            column-gap: 2rem;
            row-gap: 2rem;
            div{
                text-align: center;
                h2{
                    font-family: $fuente-titulo;
                    font-weight: 100;
                }
                img{
                    width: 80%;
                    border: 5px solid nth($list: $colores, $n: 2);;
                    border-radius: 10px 0px;
                }
            }
        }
    }
}