.main-platos{
    .titulo-platos{
        padding: 5%;
        text-align: center;
        font-family: $fuente-titulo;
        text-decoration: underline;
        position: relative;
        z-index: -1;
        h1{
            font-size: 50px;
        }
    }
    .titulo-carrusel{
        display: flex;
        font-family: $fuente-titulo;
        font-size: 40px;
        justify-content: center;
    }
    .texto-y-carrusel{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 1rem;
        align-items: center;
        .texto-comida{
            text-align: center;
            padding: 5%;
        }
        #carrusel{
            display: block;
            padding: 5%;
        }
    }
}