.main-contacto{
    .titulo-contacto{
        padding: 5%;
        text-align: center;
        font-family: $fuente-titulo;
        text-decoration: underline;
        position: relative;
        z-index: -1;
        h1{
            font-size: 50px;
        }
    }
    .contacto{
        height: 600px;
        div{
            padding-left: 20%;
            padding-right: 20%;
            padding-top: 5%;
        }
    }
}