footer{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: nth($list: $colores, $n: 4);
    div{
        a{
            img{
                height: 30px;
                width: 30px;
            }
        }
    }
}