header{
    background-color: nth($list: $colores, $n: 4);
    margin-bottom: 0;
    box-sizing: border-box;
    #btn_menu, label, .logo {
        display: none;
    }
    nav{
        img{
            width: 150px;
            height: 120px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        ul{
            display: flex;
            list-style: none;
            justify-content: space-evenly;
            padding: 20px 30px;
            align-items: center;
            font-family: $fuente-titulo;
            margin: 0;
            li{
                a{
                    text-decoration: none;
                    color: nth($list: $colores, $n: 1);
                    font-size: 25px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
